name: Deploy Locaweb
on:
  push:
    branches: [ main ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Build project
        run: npm run build
      - name: Deploy via FTP
        uses: locaweb/ftp-deploy@v1
        with:
          host: ${{ secrets.HOST }}
          user: ${{ secrets.USERNAME }}
          password: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          localDir: ./out/
          server-dir: /home/syschron1/
          exclude: |
           **/node_modules/**
          
